@{
    ViewData["Title"] = "Discounts";
}
<div class="panel panel-default">
    <div class="panel-heading">Discounts</div>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Type</th>
            <th>Eligibility Start Date</th>
            <th>Eligibility End Date</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td><a href="/Discounts/7d29813c-1d9f-4fe7-a66d-59317c6d1a1e" title="7d29813c-1d9f-4fe7-a66d-59317c6d1a1e">7d29813c</a></td>
            <td>50% OFF any Monthly Subscription</td>
            <td>Percentage</td>
            <td>2017-01-01</td>
            <td></td>
            <td>Active</td>
            <td></td>
        </tr>
    </table>
</div>
<a href="/Discounts/Create" class="btn btn-primary">Add</a>