@{
    ViewData["Title"] = "Customers";
}
<div class="panel panel-default">
    <div class="panel-heading">Customers</div>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Ref. Id</th>
            <th>Name</th>
            <th>Date subscribed</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td><a href="/Customers/c0768698-c0db-47fe-ad34-eac79d0d97a9" title="c0768698-c0db-47fe-ad34-eac79d0d97a9">c0768698</a></td>
            <td><a href="#" title="d20521a8-bf86-46de-a3ac-8b7e8827e05a">d20521a8</a></td>
            <td>Colleen A. Steele</td>
            <td>2017-04-28</td>
            <td>Active</td>
            <td></td>
        </tr>
        <tr>
            <td><a href="/Customers/98234ba8-4b31-4134-bec0-852f93d46e97" title="98234ba8-4b31-4134-bec0-852f93d46e97">98234ba8</a></td>
            <td><a href="#" title="73087c62-a13a-460e-8c5f-127f8f3bb84d">73087c62</a></td>
            <td>Kyle Parker Jr.</td>
            <td>2015-09-04</td>
            <td>Active</td>
            <td></td>
        </tr>
        <tr>
            <td><a href="/Customers/34b68486-7d74-4b90-93b3-d64511fc808b" title="34b68486-7d74-4b90-93b3-d64511fc808b">34b68486</a></td>
            <td><a href="#" title="bbb31251-78f6-4ce6-aa74-741dd524b78f">bbb31251</a></td>
            <td>Maria R. Olson</td>
            <td>2016-09-17</td>
            <td>Inactive</td>
            <td></td>
        </tr>
    </table>
</div>