@{
    ViewData["Title"] = "Products";
}
<div class="panel panel-default">
    <div class="panel-heading">Products</div>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Ref. Id</th>
            <th>Code</th>
            <th>Name</th>
            <th>Type</th>
            <th>Quantity</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td><a href="/Products/c7495e4b-1b1f-48c5-b82d-300784dd3275" title="c7495e4b-1b1f-48c5-b82d-300784dd3275">c7495e4b</a></td>
            <td><a href="#" title="faf9259c-ae1c-4885-90b1-633643fa886f">faf9259c</a></td>
            <td>PGLDM</td>
            <td>Gold Plan Monthly Subscription</td>
            <td>Recurring Service</td>
            <td>Unlimited</td>
            <td>Active</td>
            <td></td>
        </tr>
        <tr>
            <td><a href="/Products/ca9ba34b-4d71-46f9-a766-bec45f873c97" title="ca9ba34b-4d71-46f9-a766-bec45f873c97">ca9ba34b</a></td>
            <td><a href="#" title="ed6bf374-20dc-4feb-bcc9-dc55f5780d5d">ed6bf374</a></td>
            <td>PSLVM</td>
            <td>Silver Plan Monthly Subscription</td>
            <td>Recurring Service</td>
            <td>Unlimited</td>
            <td>Active</td>
            <td></td>
        </tr>
        <tr>
            <td><a href="/Products/f5669cad-1b03-4871-846f-c5bf653b8998" title="f5669cad-1b03-4871-846f-c5bf653b8998">f5669cad</a></td>
            <td><a href="#" title="e0348ec0-1d54-4171-8533-7dd137f62954">e0348ec0</a></td>
            <td>PBRZ</td>
            <td>Bronze Plan Monthly Subscription</td>
            <td>Recurring Service</td>
            <td>Unlimited</td>
            <td>Inactive</td>
            <td></td>
        </tr>
    </table>
</div>