@{
    ViewData["Title"] = "Plans";
}
<div class="panel panel-default">
    <div class="panel-heading">Plans</div>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Ref. Id</th>
            <th>Code</th>
            <th>Name</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td><a href="/Plans/486cf5c8-4ab7-43e0-99fb-353d49d39086" title="486cf5c8-4ab7-43e0-99fb-353d49d39086">486cf5c8</a></td>
            <td><a href="#" title="c44e7140-8649-44fc-81db-57258b202bb7">c44e7140</a></td>
            <td>PGLD</td>
            <td>Gold Plan</td>
            <td>Active</td>
            <td></td>
        </tr>
        <tr>
            <td><a href="/Plans/41e15b51-c273-4a60-9518-03885d63fa5f" title="41e15b51-c273-4a60-9518-03885d63fa5f">41e15b51</a></td>
            <td><a href="#" title="14d5e590-9726-4fd7-90a9-3722c34a6ec3">14d5e590</a></td>
            <td>PSLV</td>
            <td>Silver Plan</td>
            <td>Active</td>
            <td></td>
        </tr>
        <tr>
            <td><a href="/Plans/3207d0fc-d160-4c95-a71f-b42e206304f9" title="3207d0fc-d160-4c95-a71f-b42e206304f9">3207d0fc</a></td>
            <td><a href="#" title="c5d0adb2-0c5f-4a36-98bd-d6502b691962">c5d0adb2</a></td>
            <td>PBRZ</td>
            <td>Bronze Plan</td>
            <td>Inactive</td>
            <td></td>
        </tr>
    </table>
</div>
<a href="/Plans/Create" class="btn btn-primary">Add</a>