@{
    ViewData["Title"] = "Add Customer";
}
<div class="panel panel-default">
    <div class="panel-heading">Customer information</div>
</div>
<button type="button" class="btn btn-primary">Save</button>